<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzlg.mapper.EmpExprMapper">
    <insert id="insertBatch">
        insert into emp_expr(emp_id, begin, end, company, job)
        values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>

    <!-- 根据员工ID删除经历 -->
    <delete id="deleteByEmpIds">
        delete from emp_expr where emp_id in
        <foreach item="id" collection="empId" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据员工ID查询工作经历信息 -->
    <select id="selectByEmpId" resultType="com.gzlg.pojo.EmpExpr">
        SELECT id, emp_id, begin, end, company, job
        FROM emp_expr
        WHERE emp_id = #{empId}
    </select>

</mapper>