<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gzlg.mapper.OperateLogMapper">

    <!-- 分页查询操作日志（关联操作人姓名） -->
    <select id="list" resultType="com.gzlg.pojo.OperateLog">
        select l.id, l.operate_emp_id, l.operate_time, l.class_name,
               l.method_name, l.method_params, l.return_value, l.cost_time,
               e.name operateEmpName
        from operate_log l
        left join emp e on l.operate_emp_id = e.id
        order by l.operate_time desc
    </select>

</mapper>
